@charset "utf-8";
/* CSS Document */

#center{ width:1000px; --height:600px;margin:20px auto;}
#center #cen-top{ width:1000px; height:80px; background:#fff; padding-top:5px;}
#center #cen-top div{ width:1000px; height:80px;margin:25px auto auto 20px; font-size:18px; position:relative;}
#center #cen-top p{ font-size:18px; margin: 0px auto auto 20px;}
#cen-top div img{ width:50px; height:45px; position:absolute; top:-12px; right:25px;}

.wrap{width:1000px; background:#fff;margin:10px auto;}


.wrap .list{}
.wrap .list li{ position:relative; vertical-align:top; width:1000px; height:135px; margin-bottom:10px;}
.wrap .list li hr{margin-top:10px;}
.wrap .list .pic{width:100px;height:120px;border:1px solid #c8c4d3;;background:#fff; margin-right:50px; margin-bottom:15px;}
.wrap .list .text{width:700px; position:absolute; top:0; left:180px; background:url(../imgs/cs-bg.png) repeat-y right;}
.wrap .list h3{ line-height:24px; font-size:12px;}
.wrap .list h3 a{color:#333;}
.wrap .list p{ font-size:12px; line-height:20px;color:#666;}
.wrap .list p a{color:#666;}

.wrap .list .yesno{ width:40px; height:40px; position:absolute; top:0px; left:920px;}
.wrap .list .yesno p{ width:60px; height:24px; border:1px solid #ccc; line-height:24px; font-size:18px; text-align:center; margin-top:25px;}

