@charset "utf-8";
/* CSS Document */
*{ padding: 0; margin: 0; }
li  { list-style: none; }
a{ text-decoration: none}
button,input,img,th,td { border: 0; }
table{border-collapse:collapse;}

body{background:#efefef;}
#header{width: 1400px; height:70px; position:relative; background:#000;}
#header #header-left img{width:60px; height:60px; position:absolute; top:7px; left:20px;}
#header #header-left h2{width:400px; height:60px; line-height:60px; font-size:30px; font-weight:bold;color:#fff; letter-spacing:10px; position:absolute ; top:10px; left:100px;}
#header #header-right{ position:absolute; top:16px; left:750px;}
#header #header-right .a1{background:url(../imgs/h-bg.PNG) no-repeat right;}
#header #header-right .a1 input{background:url(../imgs/cen-left-bg-border.png) repeat-x bottom; font-size:18px; color:#fff;}

#header #header-right a{ line-height: 26px; font-size:22px; color:#fff; margin-left:30px;}

#header #header-right a img{ width:28px; height:28px; margin-top:8px;}


