@charset "utf-8";
/* CSS Document */

body, ul, ol, dl, dt, dd, h1, h2, h3, h4, h5, p, form,img,hr { padding: 0; margin: 0; }
li { list-style: none; }
a{ text-decoration: none}
img { border: 0; }

body{background:rgba(235,235,235,0.8);}
#header{width: 1400px; height:80px; position:relative;}
#header #header-left img{width:60px; height:60px; position:absolute; top:10px; left:20px;}
#header #header-left h2{width:400px; height:60px; line-height:60px; font-size:30px; font-weight:bold;color:#b80206; letter-spacing:10px; position:absolute ; top:10px; left:100px;}
#header #header-right{ position:absolute; top:16px; left:900px;}
#header #header-right a{ line-height: 26px; font-size:22px; color:#b80206; margin-left:30px;}
#header #header-right a img{ width:28px; height:28px; margin-top:8px;}
