@charset "utf-8";
/* CSS Document */
#center{ width:1000px; height:1200px;margin:20px auto;}
#center #cen-top{ width:1000px; height:80px; background:#fff; padding-top:5px;}
#center #cen-top div{ width:1000px; height:80px;margin:25px auto auto 20px; font-size:18px; position:relative;}
#center #cen-top p{ font-size:18px; margin: 0px auto auto 20px;}


body{background:#f1f1f1;}
#register{width:500px; height:600px; margin:20px auto; background:#fff; padding: 20px 250px;}
#register p{ background:url(../imgs/cen-right-PS-application-1.png) repeat-x bottom; width:340px; margin-left:20px; font-size:18px;}
#register span{display:inline-block; width:100px; height:24px; font-size:18px; text-align:right;}
#register input{ width:150px; height:24px; font-size:18px; background:#ddd;}

#register .longer{width:250px; height:20px;}

#register .choose{ width:15px; height:18px; font-size:14px; text-align:center;}
#register .choose2{width:30px; height:18px; font-size:14px;}

#register .btn { width:50px; height:30px; line-height:30px; font-size:12px; color:#fff; text-align:center; border-radius:3px; background:#b40004; margin-left:65px; margin-right:25px; margin-top:30px;}


