@charset "utf-8";
/* CSS Document */

#center{ width:1000px; height:650px;margin:20px auto; position: relative;}
#center #cen-top{ width:1000px; height:80px; background:#fff; padding-top:5px;}
#center #cen-top div{ width:1000px; height:80px;margin:25px auto auto 20px; font-size:18px; position:relative;}
#center #cen-top p{ font-size:18px; margin: 0px auto auto 20px;}
#cen-top div img{ width:50px; height:45px; position:absolute; top:-12px; right:25px;}

#cen-homeInfo-search{ width:1000px; height:650px; --background:url(../imgs/CS-jz.jpg) repeat-x; margin-top:20px; padding-top:10px;}

#cen-homeInfo-search #tab{width:1000px; height:500px; margin:-1px auto;text-align:center;}
#cen-homeInfo-search #tab th,#cen-homeInfo-search #tab td{ border:1px solid #dddddd;}
#cen-homeInfo-search #tab .tab-tr th{border:none;}
#cen-homeInfo-search #end{ width:1000px; height:100px; position:relative;}
#cen-homeInfo-search #end input{width:50px; height:30px; text-align:center ; background:#b40004; color:#fff; margin-right:30px; margin-top:20px;}
#cen-homeInfo-search #end .tu{background:#fefefe; width:60px; height:30px; position:absolute; top:0px; right:120px; color:#111; line-height:30px; text-align:center;}
#cen-homeInfo-search #end .text{background:#fefefe; width:100px; height:30px; line-height:30px; font-size:24px; text-align:center;color:#111; position:absolute; top:0px; right:20px;}
#add{position:absolute; top:-190px; left:0px; width:1000px; height:100px; background:#e4e4e4;}
#add input{ height:40px; width:150px; margin:30px auto; line-height:40px; font-size:18px; text-align:center; margin-left:2px;}
#add .add1{width:400px;}

#add button{width:50px; height:31px; line-height:30px; font-size:12px; color:#fff; text-align:center; border-radius:5px; background:#b40004;}