@charset "utf-8";
/* CSS Document */

#center{ width:1100px; height:600px;margin:20px auto;}
#center #cen-top{ width:1100px; height:80px; background:#fff; padding-top:5px;}
#center #cen-top div{ width:1100px; height:80px;margin:25px auto auto 20px; font-size:18px; position:relative;}
#center #cen-top p{ font-size:18px; margin: 0px auto auto 20px;}

#ps-cont{width:1100px; height:460px; border:1px solid #eee; margin-top:25px; position:relative;} 
#ps-cont div{ width:352px; height:400px; position:absolute; top:5px;}
#ps-cont div img{width:352px; height:400px;border-radius:5px; }
#ps-cont div p{line-height:50px; text-align:center; font-size:22px; background:#fff;}
#ps-cont .ps-1{left:0px;}
#ps-cont .ps-2{ left:372px;}
#ps-cont .ps-3{left:747px;}
